<layout name="public/layout"/>

<!-- 登录主体部分start -->
	<div class="login w990 bc mt10">
		<div class="login_hd">
			<h2>用户登录</h2>
			<b></b>
		</div>
		<div class="login_bd">
			<div class="login_form fl">
				<form action="" method="post">
					<ul>
						<li>
							<label for="">Email：</label>
							<input type="text" class="txt" name="email" />
						</li>
						<li>
							<label for="">密码：</label>
							<input type="password" class="txt" name="password" />
						</li>
						<li>
							<label for="">验证码：</label>
							<input class="txt" type="text"  name="code" /><br />
						</li>
						<li>
							<label for="">&nbsp;</label>
							<img onclick="this.src='<?php echo U('chkcode'); ?>#'+Math.random();" style="cursor:pointer;" src="<?php echo U('chkcode'); ?>" alt="" />
							<span>看不清？<a onclick="$(this).parent().prev('img').trigger('click');" href="javascript:void(0);">换一张</a></span>
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="submit" value="" class="login_btn" />
						</li>
					</ul>
				</form>

				<div class="coagent mt15">
					<dl>
						<dt>使用合作网站登录商城：</dt>
						<dd class="qq"><a href=""><span></span>QQ</a></dd>
						<dd class="weibo"><a href=""><span></span>新浪微博</a></dd>
						<dd class="yi"><a href=""><span></span>网易</a></dd>
						<dd class="renren"><a href=""><span></span>人人</a></dd>
						<dd class="qihu"><a href=""><span></span>奇虎360</a></dd>
						<dd class=""><a href=""><span></span>百度</a></dd>
						<dd class="douban"><a href=""><span></span>豆瓣</a></dd>
					</dl>
				</div>
			</div>
			
			<div class="guide fl">
				<h3>还不是商城用户</h3>
				<p>现在免费注册成为商城用户，便能立刻享受便宜又放心的购物乐趣，心动不如行动，赶紧加入吧!</p>

				<a href="regist.html" class="reg_btn">免费注册 >></a>
			</div>

		</div>
	</div>
	<!-- 登录主体部分end -->
<include file='public/footer'/>
<script type="text/javascript">
	//jqureyForm插件提交表单
	$('form').submit(function(){
		$(this).ajaxSubmit({
			type:"post",
			url:"{:U('login')}",
			dataType:"json",
			success:function(msg){
				if(msg.status==1){
					//成功跳转首页
					var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
					setTimeout(function(){
						location.href="{:U('Index/index')}";
					},1500);
				}else if(msg.status==2){
					//成功跳转评论页面
					var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
					setTimeout(function(){
						location.href=msg.url;
					},1500);
					
				}else{
				//错误提示
					layer.alert('<h4 style="color:red;">'+msg.error+'</h4>', {
						  skin: 'layui-layer-molv', //样式类名
						  closeBtn: 1
						});
				}
			}		
		});
		
		//阻止表单提交
		return false;
	});
	
	
</script>